- @page_title = 'Dashboard'
#dashboard_show
  - @projects.each do |project|
    %section
      %h1= project.name
      - project.metrics.each do |metric|
        %article
          %h1
            %div= metric.short_name
          %div.chart
= javascript_include_tag 'dashboard'
