$light_gray: #C0C0C0

header
  background-color: $light_gray
  display: block
  text-align: center
  h1
    font-size: 24px

h1
  margin-bottom: 16px

body
  font-size: 16px

p
  margin-bottom: 16px

footer
  background-color: $light_gray
  display: block
  text-align: center
  h1
    font-size: 16px

article#dashboard_show
  h1
    text-align: center
    font-size: 24px
  p
    text-align: center
